@font-face {
    font-family: 'Gardens CM';
    src: url('/_assets/font/gardens/CM_GARDEN_R.woff2') format('woff2'),
        url('/_assets/font/gardens/CM_GARDEN_R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
