.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $shadow;

    &__body {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 80%;
        height: 80%;
        background-color: $black;
        display: flex;
        flex-direction: column;
    }

    &__close {
        position: fixed;
        right: 6px;
        top: 6px;
        width: 30px;
        height: 30px;
        background-color: $black;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: $white;
            left: 0;
            top: 14px;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        line-height: 1rem;
        height: 26px;
        padding: 6px 8px;
        border-bottom: 1px solid $border;
    }

    &__events {
        &_event {
            font-size: 0.9rem;
            line-height: 0.9rem;
            padding: 6px 8px;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }
        }

        &_empty {
            font-size: 0.9rem;
            line-height: 0.9rem;
            padding: 6px 8px;
        }
    }
}