$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);
$border: rgb(26, 26, 26);
$weekend: rgb(8, 8, 8);
$today: rgb(22, 22, 22);
$hover: rgb(16, 16, 16);
$dafaultevent: rgb(10, 10, 10);
$hoverevent: rgb(33, 33, 33);
$shadow: rgba(255, 255, 255, 0.2);
$alttext: rgb(162, 162, 162);